* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 2em;
  text-align: center;
}

#userForm {
  padding-top: 15px;
}

/* Bootstrap editing */
.bd-navbar {
  min-height: 4rem;
  background-color: #2f8db3;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.nav-brand {
  padding-left: 10px;
}

/* note card code */
/* Code gotten from https://www.youtube.com/watch?v=OV8MVmtgmoY */
.notecard {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  height: 300px;
  width: 700px;
  border: 1px solid black;
  background-color: rgba(214, 214, 214, 0.548);
  transition: all .6s ease-in;
  transform-style: preserve-3d;
}

.notecard:hover {
  transform: rotateY(180deg);
}

.notecard p {
  font: 1em/.9 "Lucida Grande", Helvetica, Sans-Serif;
}

.notecard .title{
  top: 0;
  left: 0;
  font-weight: bold;
}

.notecard .desc{
  top: 50%;
  left: 50%;
}

.notecard .subject{
  bottom: 0;
  right: 0;
  font-style: italic;
  color: grey;
}

.notecard div {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  margin: 0 auto;
}

.notecard .front {
  z-index: 100;
}

.notecard .back {
  z-index: 50;
  height: 100%;
  transform: rotateY(180deg);
}

/* Sidebar */
/* Code from https://bootstrapious.com/p/bootstrap-sidebar */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  border-right: 1px solid black;
  padding-right: 10px;
}

#sidebar.active {
  margin-left: -350px;
}

#sidebarCollapse {
  padding-right: 10px;
}